<h2>States</h2>

<% states=["New York", "Connecticut", "New Jersey"] %>
<ul>
<% states.each do |state| %>
  <li><%= state %></li>
  <% end %>
</ul>
<h2>Cities</h2>

<% cities=["New York City", "Stamford", "Jersey City", "Hartford", "Trenton", "Albany" ] %>
<ul>
<% cities.each do |city| %>
  <li><%= city %></li>
  <% end %>
</ul>
<h2>Nested Array</h2><h3>

<% states_and_cities=[
  ["New York",["New York City", "Albany"]],
  ["Connecticut",["Stamford","Hartford","Norwalk"]],
  ["New Jersey", ["Jersey City","Trenton"]]
  ] %>


    <!--

    my_array[0]  <- what is this?
    my_array[1]   <- what is this?

    [
      [state name, []],
      [state name, []]
    ]
    -->
<% states_and_cities.each do |state,city| %>
  <h2><%= state %></h2>
    <% city.each do |eachcity| %>
      <ul>
        <li><%= eachcity %></li>
      </ul>
    <% end %>
<% end %>
